body{
    background: lightblue;
}
#nav {
  background: rgb(255, 171, 74);
  padding: 4px;
  margin: 15px;
  border-style:groove;
  Border-color:rgb(66, 66, 66);
}
#cool{
border-style: outset;
border-color: rgb(185, 185, 185);
}

#cool2{
border-style: outset;
border-color: rgb(32, 32, 32);
}

#cool3{
border-style: outset;
border-color: rgb(185, 185, 185);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(0, 0, 0);
  padding: 2px;
}

.container div {
  background-color: #f1f1f1;
  border: 15px solid black;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  width: 70px;
}


.item2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
