body{
    background: teal;
}
#nav {
  background: orange;
  padding: 4px;
  margin: 15px;
  border-style:groove;
  Border-color:rgb(66, 66, 66);
}
#cool{
border-style: outset;
border-color: rgb(185, 185, 185);
}

#cool2{
border-style: outset;
border-color: rgb(32, 32, 32);
}

#cool3{
border-style: outset;
border-color: rgb(185, 185, 185);
}
